<%= javascript_include_tag "assets/javascripts/legacy_application", "data-turbo-track": "reload" %>

<h4>Welcome to HOME!</h4>

<div data-controller="hello">
  Replace ME
</div>

<%= button_tag "My button",
               type: :button,
               class: "my-legacy-btn"
%>

<%= button_tag "My Controller",
               type: :button,
               data: {
                 controller: "my",
                 action: "click->my#myClick"
               }
%>